name: daily commits

on:
  schedule:
    - cron: "0 * * * *"   # كل ساعة
  workflow_dispatch:

permissions:
  contents: write

env:
  TARGET_BRANCH: main
  GIT_NAME: "0xdya"
  GIT_EMAIL: "0xdya@proton.me"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ env.TARGET_BRANCH }}
          fetch-depth: 0

      - name: Prepare cache folder
        run: mkdir -p cache

      - name: Initialize daily values
        run: |
          TODAY=$(date -u +%Y-%m-%d)

          if [ ! -f cache/day.txt ] || [ "$(cat cache/day.txt)" != "$TODAY" ]; then
            DOW=$(date -u +%u)

            if [ "$DOW" -ge 1 ] && [ "$DOW" -le 4 ]; then
              MIN=2; MAX=10
            elif [ "$DOW" -eq 5 ] || [ "$DOW" -eq 6 ]; then
              MIN=10; MAX=16
            else
              MIN=2; MAX=13
            fi

            COUNT=$(( (RANDOM % (MAX - MIN + 1)) + MIN ))

            echo "$TODAY" > cache/day.txt
            echo "$COUNT" > cache/commit_count.txt
            echo "0" > cache/commit_done.txt

            git config user.name "${GIT_NAME}"
            git config user.email "${GIT_EMAIL}"

            git add cache/*
            git commit -m "Init day: target=$COUNT"
            git push https://x-access-token:${{ secrets.PERSONAL_TOKEN }}@github.com/${{ github.repository }}.git ${{ env.TARGET_BRANCH }}
          fi

      - name: Read progress
        id: read
        run: |
          TARGET=$(cat cache/commit_count.txt)
          DONE=$(cat cache/commit_done.txt)
          REMAIN=$((TARGET - DONE))

          echo "remain=$REMAIN" >> $GITHUB_OUTPUT

      - name: Stop if finished
        if: steps.read.outputs.remain <= 0
        run: exit 0

      - name: Make one commit
        if: steps.read.outputs.remain > 0
        run: |
          echo "$(date -u)" >> cache/auto.txt

          DONE=$(cat cache/commit_done.txt)
          DONE=$((DONE + 1))
          echo "$DONE" > cache/commit_done.txt

          git config user.name "${GIT_NAME}"
          git config user.email "${GIT_EMAIL}"

          git add cache/*
          git commit -m "Auto commit $DONE"
          git push https://x-access-token:${{ secrets.PERSONAL_TOKEN }}@github.com/${{ github.repository }}.git ${{ env.TARGET_BRANCH }}
